@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

@theme{
  --color-textLight: #051a1f;
  --color-primary: #119ebb;
  --color-secondary: #978cee;
  --color-accent: #e8f316;
  --color-bgLight: #e5fbff;

  --color-textDark: #e0f5fa;
  --color-primaryDark: #44d1ee;
  --color-secondaryDark: #978cee;
  --color-accentDark: #dee90c;
  --color-bgdDark: #00161a;


  --text-textXxl: 89px;
  --text-textXl: 72px;
  --text-textLg: 40px;
  --text-textMd: 32px;
  --text-textSm: 18px;
  --text-textXs: 14px;
}

@layer base{
  body{
    font-family: 'Poppins', sans-serif;
  }

  h1{
    font-size: var(--text-textXxl);
    font-weight: 600;
  }

  h2{
    font-size: var(--text-textXl);
    font-weight: 500;
  }

  h3{
    font-size: var(--text-textLg);
    font-weight: 500;
  }

  h4{
    font-size: var(--text-textMd);
  }

  h5{
    font-size: var(--text-textSm);
  }

  h6{
    font-size: var(--text-textXs);
  }
}

.border-hairline{
  border-bottom: 0.2px solid;
}

@custom-variant dark (&:where(.dark, .dark *));